/* src/assets/styles/variables.css */
:root {
    --croc-green: #BFE154;
    --croc-purple: #A09EFA;
    --white: #FFFFFF;
    --text-color: #122937;
    --croc-deep-purple: #4C55B0;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
  }